---
layout: layouts/base.njk
---

Ce site est une démonstration de site statique dont le contenu est <a	 href="https://app.mattrbld.com/project/11ty-demo/" target="blank">éditable</a> via une interface au même titre qu'un CMS.

{{ content | safe }}
